$primary-color: #b0bec5;
$text-color: #01579b;

.home {
  padding: 5px 0;
  background-color: $primary-color;
}

.home__header {
  color: $text-color;
  letter-spacing: 2px;
  font-size: 1.25em;
  margin-left: 15px;
  margin-bottom: -12px;
}
