$primary-color: #01579b;
$text-color: #ffffff;

.nav {
  padding: 0;
  background-color: $primary-color;
  color: $text-color;
}

.nav__logo {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  padding-top: 3px;
  &:hover {
    cursor: pointer;
  }
}

.nav__button {
  width: 100%;
  margin-top: 10px;
  font-size: 1em;
}
