.video-thumb {
  margin: auto;
  background-color: white;
  text-align: left;
}

.video-thumb img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.video-thumb img:hover {
  opacity: 0.75;
  cursor: pointer;
}

.video-thumb h5 {
  font-size: 0.9em;
  margin: 5px 0 -10px 0;
}

.video-thumb h5:hover {
  cursor: pointer;
  color: gray;
}

.video-thumb p {
  font-size: 0.8em;
  margin-bottom: -10px;
}
