.video-home {
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: left;
}

.video-home img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.video-home img:hover {
  opacity: 0.75;
  cursor: pointer;
}

.video-home h5 {
  font-size: 0.9em;
  margin: 5px 0 -10px 0;
}

.video-home h5:hover {
  cursor: pointer;
  color: gray;
}

.video-home p {
  font-size: 0.8em;
  margin-bottom: -10px;
}
